 body{
    background-color:rgb(243, 239, 239);
    height:auto;
    width:auto;
    font-family: 'Roboto', sans-serif;

}
*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
.logo{
    margin-left:580px;
    margin-top:2px;
}
.logo img{
    width:200px;
    height:200px;
}
.name p{
    text-align:center;
    font-size:30px;
    font-weight: bold;
}
.scroll h2{
    background:gray;
    text-align:center;
    color:gold;
    font-style: italic;
}
#menu{
    background-color:black;
    width:100%;
    height:40px;
    padding:0px;
    margin:0px;
    border-bottom:2px solid rgb(219, 110, 37);
}
#menu ul{
    list-style:none;
    margin:0px;
}
#menu ul li{
    float:left;
    width:150px;
    line-height:40px;
    font-size:14px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:bold;
    color:white;
    text-align:center;
}
#menu ul li:hover{
    background:rgb(165, 164, 153);
}
#menu ul ul{
    list-style:none;
    margin:0px;
    padding:0px;
    visibility:hidden;
    position:absolute;
    width:170px;
    height:auto;
    cursor:pointer;
} 
#menu ul li:hover>ul{
    visibility:visible;
    background:blueviolet;
}
#menu ul ul li{
    padding:0px;
    text-decoration:none;
    width:200px;
   
    border-right:none;
    background:rgb(63, 60, 62);
  
}
#menu ul li a{
    text-decoration:none;
    color:white;
    cursor:pointer;
    display:block;
}
.up h2{
    text-align:center;
    font-size:25px;
    font-style:initial;
    padding:40px;
}
.head img{
    width:100%;
    height:500px;
}
.head p img{
    width:500px;
    height:500px;
    position: relative;
}
.head p{
    float:right;
    margin-top:-500px;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:white;
    margin-top:200px;
    font-size:60px;
  }
.head-we img{
    width:100%;
    height:400px;
}
.con img{
    width:100%;
    height:500px;
}
.med img{
    width:100%;
    height:400px;
}
.giv img{
    width:100%;
    height:300px;
}
.daddy img{
    width:100%;
    height:600px;
}
.the img{
    width:100%;
    height:auto;
}
.cont img{
    width:100%;
    height:300px;
}
.social-net{
    float:left;
    color:white;
    margin-left:10px;
    padding:30px;
}
.social-net i{
    padding:5px;
}
.soc a{
    float:left;
    display: block;
    text-align: center;
    padding: 5px;
    transition: all 0.3s ease;
    color: white;
    font-size: 10px;
    margin:5px;
    border-radius:50px;
}
.soc a:hover{
    background:black;
}
.grid h3{
    background-color:rgb(23, 70, 23);
    width:200px;
    height:40px;
    text-align:center;
    line-height:40px;
    float:center;
}
.grid h3 a{
    text-decoration:none;
    color:white;
     display:block;
}
.grid h3 a:hover{
    background:rgb(190, 117, 6);
}
.get{
    float:left;
    margin:20px;
    padding:18px;
}
.get:hover {
     -ms-transform: scale(1.5); 
    -webkit-transform: scale(1.5); 
     transform: scale(1.5);  
 } 
footer{
    float:left;
    background-color:rgb(26, 24, 24);
    width:100%;
    height:auto;
}
.we-do{
    padding:15px;
    padding-left:30px;
}
.we-do p{
    font-family: sans-serif;
    font-size: 16px;
}
.bod{
    background:white;
    width:100%;
    height:500px;
}
.connect{
    padding:15px;
    padding-left:30px;
}
.connect h1{
    text-align:center;
    font-style:italic;
    color:goldenrod;
}
.net{
    background:white;
    width:100%;
    height:400px;
}
.book{
    padding:15px;
    padding-left:30px;
}
.give{
    padding:15px;
    padding-left:30px; 
}
.gi{
    background:white;
    width:100%;
    height:500px;
}
.side{
    padding:15px;
    padding-left:30px; 
}
.profile{
    float:left;
    padding:20px;
    margin:0px;
}
.profile p{
    font-size:17px;
}
.belif{
    padding:15px;
    padding-left:45px;
    width:90%;
}
.belif h1{
    text-align:center;
    color:goldenrod;
    font-style:italic;
}
.belif p{
    font-size:15px;
    font-family: sans-serif;
}
.structure{
    padding:15px;
    padding-left:30px;
}
.structure h1{
    text-align: center;
    color:goldenrod;
    font-style:italic;
}
.church{
    padding:15px;
    padding-left:30px;
    background:white;
    width:70%;
    height:500px;
}
.church p{
    font-size: 15px;
    font-family: sans-serif;
}
.church h1{
    color:goldenrod;
    text-align:center;
    font-style: italic;
}
.history{
    background:white;
    width:100%;
    height:auto;
}
.churc{
    padding:20px;
}
.churc p{
    font-size:15px;
    font-family: sans-serif;
}
.chur{
    background:white;
    width:100%;
    height:500px;
}
.mission{
    padding:15px;
    padding-left:30px;  
}
.mission h2{
    text-align: center;
    color:goldenrod;
    font-style: italic;
}
.icon-bar {
    position: relative;
    margin-top: 16%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    float:right;
  }
  .icon-bar a {
    display: block;
    text-align: center;
    padding: 15px;
    transition: all 0.3s ease;
    color: white;
    font-size: 15px;
    margin:10px;
    border-radius:50px;
  }
  .icon-bar a:hover {
    background-color: #000;
    transform:translate(2, 20px);
  }
  .facebook {
    background: #3B5998;
    color: white;
  }
  .twitter {
    background: #55ACEE;
    color: white;
  } 
  .google {
    background: #dd4b39;
    color: white;
  }
  .youtube {
    background: #bb0000;
    color: white;
  }
  .content {
    margin-left: 75px;
    font-size: 30px;
  }
  .col img{
      width:300px;
      height:300px;
  }
  
  .od{
      float:left;
      padding:30px;
  }
  .od p{
      margin:10px;
      background-color:gray;
      width:200px;
      height:auto;
      color:white;
      text-align:center;
      font-size:18px;
      line-height:40px;
  }
  .pics{
      float:left;
      padding:10px;
  }
  .pics p{
      text-align:center;
      background-color: gray;
      width:auto;
      height:40px;
      color:white;
      font-size:18px;
      line-height:40px;
  }
  .pics img{
      width:400px;
      height:280px;
  }
  #another{
      float:left;
      margin-top:-300px;
  }
  .pic{
      float:left;
      padding:40px;
  }
  .prof h2{
      margin:0px;
  }
 .gall{
     margin-left:550px;
     margin-top:100px;
     background-color:green;
     width:200px;
     height:50px;
     text-align:center;
     font-size:19px;
     font-weight:bold;
     font-family:sans-serif;
     line-height:50px;
 }
 .gall a{
     text-decoration:none;
     color:white;
     display:block;     
 }
 .gall a:hover{
     background-color:blue;
 }
 .clue p{
     font-size:17px;
     font-family: sans-serif;
 }
  @media screen and (max-width: 480px){
    #menu{
        width:100%;
        height:auto;
    }
    #menu ul li{
        width:100%;
        float:none;
        font-size:17px;
        margin-left:1%;
    }
    #menu ul li ul{
        width:100%;
        display:none;
    }
    #menu ul li:hover ul {
        display:block;
        width:100%;
    }
    #menu ul li a{
        width:100%;
    }
    #menu ul li ul{ 
        position: static;
    }
    #menu ul li ul li{
        display:block;
        width:100%;
        height:auto;
        background:greenyellow;
        font-size:17px;
    }
    .logo{
        width:300px;
        height:200px;
        left:30%;
    }
    .icon-bar{
        right:1%;
        top:100px;
    }
    .centered{
        top:700px;
        left:45%;
    }
    .get img{
       margin-left:1%;
    }
    .grid{
        padding-right:0%;
    }
    .up{
       padding:0px;
       margin-right:1%;
    }
    .name p{
       margin-right:1%;
    }
    .head p img{
        margin-left:20%;
    }
    .head-we img{
        width:100%;
        height:200px;
    }
    footer{
        margin-left:-2%;
    }
    .con img{
        width:100%;
        height:auto;
    }
    .connect ol{
        padding-right:10%;
    }
    .daddy img{
        width:100%;
        height:auto;
    }
    .med img{
        width:100%;
        height:150;
    }
    .pic img{
        margin-left:-3%;
    }
    .pics img{
        margin-left:-1%;
    }
    .pics p{
        margin-left:-18%;
    }
    .giv img{
        width:100%;
        height:150px;
    }
    .give ol{
        margin-left:-3%;
    }
    .church p{
        margin-left:-8%;
    }
    .mission{
        margin-right:23%
    }
    .profile{
        margin-left:-15%;
    }
    .cont img{
        width:100%;
        height:150px;
    }
    .side{
        margin-left:-22px;
    }
}  
